@use "../../styles/utils/mixins" as *;
.Overlay {
  background-color: #000000b3;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  padding-top: 16px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  &:focus {
    outline: none;
  }
  @include media(480px) {
    width: 90vw;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Close {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.Title {
  font-weight: 600;
  font-size: 1.2rem;
}

.Form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.RadioGroup {
  display: flex;
  gap: 1rem;
}

.RadioOption {
  width: 100%;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding: 0 0.8rem;
  height: 44px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #e7e6e6;
}

.RadioIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s ease all;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
