@use "../../styles/utils/mixins" as *;
.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  transform: translateY(-1.4rem);
  @include container;
  @include media(1024px) {
    grid-template-columns: repeat(2, 1fr);
    div:last-child {
      grid-column: 1 / 3;
    }
  }
  @include media(720px) {
    grid-template-columns: 1fr;
    div:last-child {
      grid-column: 1;
    }
  }
}
