@use "../../styles/utils/mixins" as *;
@use "../../styles/theme/colors" as *;

.balance_table {
  @include container;
  border-collapse: separate;
  border-spacing: 0px 1rem;
  th {
    padding: 1rem 1.6rem;
    text-align: left;
    line-height: 1rem;
    color: $gray-300;
  }

  td {
    padding: 1.4rem 1.6rem;
    border: 0;
  }

  tbody > tr {
    background-color: $white;
    @include boxShadow;
  }
  tbody > tr > td:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  tbody > tr > td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  @include media(760px) {
    display: block;
    overflow-x: auto;
    thead,
    tbody,
    tr,
    td,
    th {
      display: block;
    }
    thead {
      display: none;
    }
    tbody > tr {
      margin-bottom: 1rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    td {
      padding: 1rem;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      position: relative;

      // Adiciona labels para os dados
      &::before {
        content: attr(data-label);
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        color: $gray-300;
        text-align: left;
      }
    }
  }
}

.delete_cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_cell button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  &:hover {
    filter: brightness(0.7);
  }
}

.delete_icon {
  color: $red;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}
